.viewrestocard :first-child{
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
}
.viewrestocard > :nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
.resto-button{
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgb(27, 166, 114);
    width: 120px;
    transition: all 100ms ease-in-out 0s;
    transform: translateY(0px);
    text-align: center;
    border: 1px solid #93959f;
    padding: 5px 0px;
    border-radius: 10px;
    box-shadow: #93959f;
    background-color: white;
    margin-top: 2rem;
}
.option-resto{
    text-align: center;
    font-size: small;
    color: #93959f;
}
.resto-button:hover{
    background-color: hsl(220, 16%, 89%);
}
.viewrestocard{
    margin-top: 15px !important;

    border-bottom:1px solid rgba(2, 6, 12, 0.15);
}

.viewrestocard :first-child :first-child{
    display: block;
}
.viewrestocard :first-child :first-child > :nth-child(3) {
    display: flex;
    color: black;
}
.viewrestocard :first-child :first-child > :nth-child(4) {
    display: flex;
    gap: 2px;
    color: #93959f;
}
.viewrestocard :first-child :first-child > :nth-child(4) :first-child{
    display: flex;
    color: rgb(17, 102, 73);
    gap: 4px;
}
